<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container">
            <a href="../../index.html" class="navbar-brand">
                <img src="../../resources/logo.png" class="" width="200" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item m-2">
                        <div class="dropdown" data-bs-theme="dark"> 
                            <button class="btn-space " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>BASIC</strong>
                                <div id="container-stars">
                                    <div id="stars"></div>
                                </div>
                        
                                <div id="glow">
                                    <div class="circle-space"></div>
                                    <div class="circle-space"></div>
                                </div>
                            </button>
                            <ul class="dropdown-menu bg-dark dropdown-menu-end text-center w-100">
                                <li><a class="dropdown-item" href="cube.html">Cube</a></li>
                                <li><a class="dropdown-item active" href="#">Perspective</a></li>
                                <li><a class="dropdown-item" href="orbit.html">Orbit controls</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item m-2">
                        <div class="dropdown" data-bs-theme="dark">
                            <button class="btn-space" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>MEDIUM</strong>
                                <div id="container-stars">
                                    <div id="stars"></div>
                                </div>
                        
                                <div id="glow">
                                    <div class="circle-space"></div>
                                    <div class="circle-space"></div>
                                </div>
                            </button>
                            <ul class="dropdown-menu bg-dark dropdown-menu-start text-center w-100">
                                <li><a class="dropdown-item" href="">Cube</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item m-2">
                        <div class="dropdown" data-bs-theme="dark">
                            <button class="btn-space " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>COMPLEX</strong>
                                <div id="container-stars">
                                    <div id="stars"></div>
                                </div>
                        
                                <div id="glow">
                                    <div class="circle-space"></div>
                                    <div class="circle-space"></div>
                                </div>
                            </button>
                            <ul class="dropdown-menu bg-dark dropdown-menu-start text-center w-100">
                                <li><a class="dropdown-item" href="">Cube</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://threejs.org/build/three.js"></script>
    <script src="../../scripts/orbit.js"></script>
</body>
</html>